In [1]:
import numpy as np
import pandas as pd

path = "../files/adult_outcome/salary.csv"
dataset: pd.DataFrame = pd.read_csv(path)

df = dataset[["age", "workclass", "education-num", "race", "sex", "native-country", "salary"]]

df.head(5)

,age,workclass,education-num,race,sex,native-country,salary
0,39,State-gov,13,White,Male,United-States,<=50K
1,50,Self-emp-not-inc,13,White,Male,United-States,<=50K
2,38,Private,9,White,Male,United-States,<=50K
3,53,Private,7,Black,Male,United-States,<=50K
4,28,Private,13,Black,Female,Cuba,<=50K

In [ ]:
########################################

freq = df["workclass"].value_counts(normalize=True).sort_values(ascending=False)

raras = freq[freq < 0.01].index
df["workclass"] = df["workclass"].where(~df["workclass"].isin(raras), "others")

df["workclass"] = (df["workclass"]
           .astype(str).str.strip().str.lower()
           .replace({"others": "others", "?": "others"})
           .replace({"local-gov": "gov", "state-gov": "gov", "federal-gov": "gov"})
           .replace({"self-emp-not-inc": "self-employed", "self-emp-inc": "self-employed"}))

########################################

freq = df["age"].value_counts(normalize=True).sort_values(ascending=False)

raras = freq[freq < 0.001].index
df["age"] = df["age"].where(~df["age"].isin(raras), 60)

########################################

df["race"] = (df["race"]
           .astype(str).str.strip().str.lower()
           .replace({"asian-pac-islander": "others", "amer-indian-eskimo": "others", "other": "others"}))

########################################

df["native-country"] = (df["native-country"]
           .astype(str).str.strip().str.lower()
           .replace({"mexico": "others", "?": "others", "philippines": "others", "china": "others", "japan": "others", "india": "others", "germany": "others", 
                    "canada": "others", "puerto-rico": "others", "el-salvador": "others", "cuba": "others", "england": "others", "jamaica": "others", "south": "others", 
                    "italy": "others", "dominican-republic": "others", "vietnam": "others", "guatemala": "others", "poland": "others", "columbia": "others", "taiwan": "others", 
                    "haiti": "others", "iran": "others", "holand-netherlands": "others", "scotland": "others", "hungary": "others", "honduras": "others", 
                    "yugoslavia": "others", "laos": "others", "thailand": "others", "cambodia": "others", "trinadad&tobago": "others", "hong": "others", "ireland": "others", "ecuador": "others",
                    "greece": "others", "france": "others", "peru": "others", "nicaragua": "others", "outlying-us(guam-usvi-etc)": "others",}))

salary
<=50K    24720
>50K      7841
Name: count, dtype: int64